POSTGRES_PASSWORD=
USERS_DB_CONNECTION_STRING=
JWT_SECRET=
JWT_ISSUER=ms-users-api
JWT_AUDIENCE=ms-users-api-client
JWT_KEY_ID=ms-users-api-signing-key
RABBITMQ_USERNAME=
RABBITMQ_PASSWORD=
RABBITMQ_VHOST=fiap
